<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<footer id="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/images/logo.svg" alt="Logo" class="footer-logo-image">
      </div>
      <!--
      <nav class="footer-nav">
        <ul>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
      -->
      <div class="footer-socials">
        <a href="https://github.com/Davanso" class="social-icon" target="_blank">
          <i class="fab fa-github"></i> <!-- Ícone do GitHub -->
        </a>
        <a href="https://x.com/destrao__?s=21&t=4BhWHEu1vbwwaopJDjzGfg" class="social-icon" target="_blank">
          <i class="fab fa-x"></i> <!-- Ícone do Twitter (X) -->
        </a>
        <a href="https://www.instagram.com/gui.davanso_?igsh=ZzlqZ2k5bmFtazZu&utm_source=qr" class="social-icon" target="_blank">
          <i class="fab fa-instagram"></i> <!-- Ícone do Instagram -->
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Guilherme Destro Davanso. Todos os direitos reservados.</p>
    </div>
  </footer>
  
  
